body {
  margin: 0;
  padding: 0;
  background: #080016;
  color: #39FF14;
  font-family: 'Courier New', monospace;
  text-shadow: 0 0 8px #39FF14;
}

button {
  background: #B000FF;
  border: 2px solid #39FF14;
  padding: 10px 20px;
  cursor: pointer;
  font-weight: bold;
  font-size: 18px;
  text-shadow: 0 0 6px #fff;
  box-shadow: 0 0 15px #B000FF, 0 0 30px #39FF14;
  transition: all 0.2s;
}

button:hover {
  transform: scale(1.05);
}
